#main folder:
__pycache__/
aio-env313/
aio-env312/
aio-env311/
prompts/
old env/
.gitignore
static/KM\ result*/
logs/
*.pkl

#SRC: 
src/audits/
src/static/
src/discarded/
src/static/KM\ result*/
src/uploads/
src/templates/*.txt
src/*.pkl
src/logs/



#functions_folder
src/functions_folder/__pycache__/
src/functions_folder/optimized/
src/functions_folder/static/
src/functions_folder/*.*
src/functions_folder/logs/
!src/functions_folder/results.txt
!src/functions_folder/*.py

#gui:
build/
dist/
*.spec