#main folder:

__pycache__/
aio-env313/
aio-env312/
aio-env311/
audits/
optimized/
static/
uploads/
prompts/
old env/
templates/*.txt
.gitignore

#functions_folder
functions_folder/__pycache__/
functions_folder/*.*
!functions_folder/results.txt
!functions_folder/*.py