Flask
requests
beautifulsoup4
spacy 
keybert 
scikit-learn

#content scorer
flask
textstat
transformers
torch
numpy

#broken Link checker
aiohttp

#redirect mapper 
httpx
#networkx

#image_optimizer
Pillow

#performance_audit:
#weasyprint

#module 2:

#topic-modeler
flask
gensim
scikit-learn
sentence-transformers
numpy
matplotlib
pyldavis
sentence-transformers
scikit-learn
gensim

#schema generator
#flask
#spacy

#internal_link_optimizer
#networkx